#box-game
{
	background-color:#fff;
}

#box-leftMenu
{
	background-color:#f00;
}

#box-topMenu
{
	background-color:#00f;
}

#box-rightMenu
{
	background-color:#0f0;
}

#box-dragonZone
{
	background-color:#f0f;
}
