#box-game
{
	background-color:#fff;
	height:100px;
	width:100px;
}

#box-leftMenu
{
	background-color:#f00;
	height:100px;
	width:100px;
}

#box-topMenu
{
	background-color:#00f;
	height:100px;
	width:100px;
}

#box-rightMenu
{
	background-color:#0f0;
	height:100px;
	width:100px;
}

#box-dragonZone
{
	background-color:#f0f;
	height:100px;
	width:100px;
}
